.Link{
    text-decoration: none;
}


.toptag{
    display: flex;
}

.image1{
    width: 20px;
    height:20px;
}

.sidebar{
    flex: 1;
    z-index: 1;
    left: 0px;
    display:flex;
    overflow-x: hidden;
    height: 100%;
    position:fixed;
    background-color: #1d6eb9;
}

.sidebarWrapper{
    flex:1;
    
    color: #555;
}

.sidebarMenu{
    margin-bottom:10px;
}

.sidebarTitle{
    font-size: 17px;
    color:#1A5276;
    
}

.sidebarList{

    list-style-type: none;
    margin-top: 50px;
    
}

li{
    text-decoration: none;
    color:white;
    font-weight: 500;
}
.sidebarListItem{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 10px;
    margin-right: 40px;
    width: 100%;
    padding: 20px;
    left: 0;
    cursor: pointer;
}

.sidebarListItem i{
    margin-right: 1rem;
}

sidebarListItem.active,
 .sidebarListItem:hover{
    background-color: #145897;
    box-shadow: rgba(14, 30, 37, 0.0) 0px 2px 4px 0px, rgba(14, 30, 37, 0.0) 0px 2px 16px 0px;
    color:white;
}